*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	min-height: 100%;
}

.link-color li a{
	color: rgba(255, 255, 255, 0.5)
}

.row ul{
	padding-top: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.row div img{
	padding-top: 30px;
}

.text-center{
	text-align: center;
}